
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">

            <span>Welcome <%= user_session %></span>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/bootcamp">Bootcamp</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/editstud">Edit Students</a></li>
            <li><a href="/records">Report</a></li>
            <li class="logout"><a href="/bootcamp/signout">Log out</a></li>
        </ul>
    </div>

</div>
</nav>
