
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
<<<<<<< HEAD
            <li><a href="/about">Bootcamp</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/about">Report</a></li>
=======
            <li><a href="/bootcamp">Bootcamp</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/editstud">Edit Students</a></li>
            <li><a href="/records">Report</a></li>
>>>>>>> Shahriar
        </ul>
    </div>

</div>
</nav>
