
<nav class="navbar navbar-inverse bg-inverse" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">


<a class="dropdown navbar-brand dropdown-toggle" data-toggle="dropdown">Welcome <%= user_session %>
</a>
<ul class="dropdown-menu">
<li><a href="admin/profile/1">Edit your profile</a></li>
</ul>
        <ul class="nav navbar-nav">
            <li><a href="/">Live Check-in</a></li>
            <li><a href="/bootcamp">Manage Bootcamps</a></li>
            <li><a href="/seestuds">Manage Students</a></li>
            <li><a href="/students">Add Student</a></li>
            <li><a href="/reports">Reports</a></li>
            <li class="logout"><a href="/bootcamp/signout">Log out</a></li>
        </ul>
    </div>

</div>
</nav>
