<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">New bootcamp</a></li>
			<li><a href="/newstudent">New student</a></li>
			<li><a href="/about">Edit student</a></li>
			<li><a href="/about">Reports</a></li>
			<li><a href="/about">Sign out</a></li>
		</ul>
	  
	</div>
</nav>