<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

    <div class="container">
      <form id="contact" action="" method="post">
        <h3>Quick Contact</h3>
        <h4>Add or Edit new bootcamp</h4>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bootcamp Summer 2017
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Bootcamp Winter 2017</a>
            <a class="dropdown-item" href="#">Bootcamp Fall 2017</a>
            <a class="dropdown-item" href="#">Bootcamp Spring 2017</a>
          </div>
        </div>
        <fieldset>
          <input placeholder="Bootcamp Name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <div class='input-group date' id='datetimepicker2'>
        <fieldset>
          <input placeholder="Starting Date" type="datetime-local" tabindex="2" required>
        </fieldset>
      </div>
      <div class='input-group date' id='datetimepicker2'>
      <fieldset>
        <input placeholder="Starting Date" type="datetime-local" tabindex="3" required>
      </fieldset>
    </div>
        <fieldset>
          <input placeholder="Slack Link" type="url" tabindex="4" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>


    </div>

    <footer>
      <% include ./partials/footer %>
    </footer>
