<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

    <div class="container">
      <form id="contact" class="form">
        <h4>Register new Bootcamp</h4>
        <hr />
          <div class="form__group">
            <i class="icon-append icon-user">
              <input type="text" placeholder="Bootcamp Name" class="form__input" />
              </i>
          </div>

          <div class="form__group">
      <div class='input-group date' id='datetimepicker2'>
          <input type='date' class="form__input" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>

          <div class="form__group">
              <input type="date" placeholder="End Date" class="form__input" />
          </div>

          <div class="form__group">
              <input type="url" placeholder="Slack Link" class="form__input" />
          </div>

          <button class="btn" type="button">Submit</button>
      </form>


    </div>

    <footer>
      <% include ./partials/footer %>
    </footer>
