<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Students</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="javascript/js.js"></script>
  </head>
  <body>
    <div class="table-container">
             <table class="table table-students">
               <tbody>
                <tr>
                  <th>Student name</th>
                  <th>Email</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Edit</th>
                </tr>
                <tr>
                  <td name="st-name">Irene</td>
                  <td name="st-email">irene@mail.com</td>
                  <td name="st-city">Rotterdam</td>
                  <td name="st-phone">065434232</td>
                </tr>
               </tbody>
             </table>
           </div>
  </body>
</html>
