<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

    <div class="user">
        <header class="user__header">
            <img src="https://restart.network/images/logo_restart_nav.png" alt="logo" width="150px" />
        </header>

        <form class="form">

            <div class="form__group">
                <input type="email" placeholder="Email" class="form__input" />
            </div>

            <div class="form__group">
                <input type="password" placeholder="Password" class="form__input" />
            </div>

            <button class="btn" type="button">Log in</button>
        </form>
    </div>

  <footer>
    <% include ./partials/footer %>
  </footer>
