<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Students</title>
    <link href="css/editstud.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="javascript/jq.js"></script>
      <% include ./partials/head %>
  </head>
  <body>
   <header>
       <% include ./partials/header %>
   </header>
   <div class="container boot">
   <div class="jumbotron row">
    <table class="table table-students">
      <tbody>
       <tr>
         <th> Bootcamp Name: </th>
         <th> Started At: </th>
       </tr>
       <% for(i=0 ; i < result_bootcamps.length ; i++){ var date = result_bootcamps[i].start_date %>
       <tr>
           <td> <a style="text-decoration:none" href="/seestuds/stu/<%= result_bootcamps[i].bootcamp_id %>">
            <span class="panel-boot panel-warning breadcrumb active">  <%= result_bootcamps[i].bootcamp_name %> </span> </a></td>
           <td><span class="panel-boot breadcrumb-item">    <%= date.toDateString() %></span></td>  <% } %>
       </tr>
      </tbody>
    </table>
      </div>
  </body>
</html>
