
  <head>
      <% include ./partials/head %>
  </head>
  <body>
   <header>
     <link rel="stylesheet" href="./css/editstud.css">
       <% include ./partials/header %>
   </header>
   <div class="container boot">

   <div class="jumbotron row">
    <table class="table table-students">
      <tbody>
       <tr >
         <th class="table-students"> Bootcamp Name: </th>
         <th> Start Date: </th>
       </tr>
       <% for(i=0 ; i < result_bootcamps.length ; i++){ var date = result_bootcamps[i].start_date %>
       <tr>
           <td> <a style="text-decoration:none" href="/seestuds/stu/<%= result_bootcamps[i].bootcamp_id %>">
            <span class="link"> <strong> <%= result_bootcamps[i].bootcamp_name %></strong> </span> </a></td>
           <td><span>    <%= date.toDateString() %></span></td>  <% } %>
       </tr>
      </tbody>
    </table>
      </div>
    </div>


  </body>
  <footer>
    <% include ./partials/footer %>
  </footer>
