<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
   <header>
       <% include ./partials/header %>
   </header>

   <div class="dropdown">
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Select Bootcamps
     </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <% for(i=0 ; i < res.length ; i++){ %> <a class="dropdown-item" href="/seestuds/choose/<%= res[i].bootcamp_id %>"> <h5 class="drop_btcmp"><%= res[i].bootcamp_name %></h5> <br /> </a> <% } %>
     </div>
   </div>

   <div class="container-fluid">

         </div>
      </div>
  </body>
</html>
