.table-place {
  height: auto;
  width: 70%;
  margin-top: 30px;
}

.container-table {
  align-content: center;
  max-width: 70%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.box {
  max-width: 200px !important;
}
.boot {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.inline {
  display: inline-block;
}
.mybutton {
  max-width: 30%;
  text-align: left;
}

.table-students {
  color: black !important;
}


.jqspan {
  color: white;
  display: table;
  position: absolute;
}
a.delete:hover {
  color: red;
  background-color: #e8c1c1 ;
}
a.delete {
  color: #ce4c3f;
}
.black {
  color: black;
}
