
table#acrylic {
            border-collapse: separate;
            background: rgba(189, 178, 178, 0.2);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 20px auto;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        #acrylic thead {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 0px solid #000;
        }
        #acrylic thead th {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
            text-align: left;
            padding: 10px;
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgb(34, 34, 34)), color-stop(100%, rgb(34, 34, 34) ));
            background-image: -moz-linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));
            background-image: -webkit-linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));
            background-image: linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));

        }

        #acrylic thead th:first-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        #acrylic thead th:last-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
        #acrylic tbody tr td {
            font-family: $font-family;
            font-weight: 600;
            color: #282828;
            font-size: 14px;
            padding: 6px 6px 6px 6px;

        }
        tbody tr:nth-child(1n):hover {
            background: rgba(189, 178, 178, 0.1);
        }
        tbody tr:nth-child(2n) {
            background: rgba(189, 178, 178, 0.3);
        }
        tbody tr:nth-child(2n):hover {
            background: rgba(189, 178, 178, 0.1);
        }

        #acrylic tbody tr:last-child td {
            border-bottom: none;
        }

        tbody tr:last-child td:first-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        tbody tr:last-child td:last-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

      tbody:hover > tr td {
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
            opacity: 0.5;
        }
        tbody:hover > tr:hover td {
            text-shadow: none;
            color: #2d2d2d;
            filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 3;
            transition: 0.3s all;
        }

.search
{
    margin-top: 30px;
    color: #af9191;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #d2bebe;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.table_font{
  font-weight: bold;
  font-size: 14pt;
}
.search:hover
{
    border-bottom: 1px dashed white;
}
.search::-webkit-input-placeholder {
					color: #d2bebe !important;
					}

					.search:-moz-placeholder { /* Firefox 18- */
					color: #d2bebe !important;
					}

					.search::-moz-placeholder {  /* Firefox 19+ */
					color: #d2bebe !important;
					}

					.search:-ms-input-placeholder {
					color: #d2bebe !important;
					}


  .start_date
    {
      display: inline;
        margin-top: 30px;
        margin-right: 20px;
        color: #af9191;
        background: transparent;
        border: none;
        border-bottom: 1px dashed #d2bebe;
        width: 150px;
        outline: none;
        padding: 0px 0px 0px 0px;
        font-style: italic;
    }
          .start_date:hover
          {
              border-bottom: 1px dashed white;
          }
.start_date::-webkit-input-placeholder {
        color: #d2bebe !important;
        }

        .start_date:-moz-placeholder { /* Firefox 18- */
        color: #d2bebe !important;
        }

        .start_date::-moz-placeholder {  /* Firefox 19+ */
        color: #d2bebe !important;
        }

        .start_date:-ms-input-placeholder {
      color: #d2bebe !important;
        }
        .p_date{
          margin-left: 30px;
          display: inline;
          color: white;
        }
.options{

  display: inline-block;
}
.filter{
  background-color: rgb(34, 34, 34);
  width: 80px;
  padding: 4px 4px 4px 4px;
  border-color: rgb(34, 34, 34);
  color: #dedede;
}
.filter:hover{
  color: white;
}
select{
  background:#222222;
  color: #dedede;
  
}
